In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

What about pandas dfs in current version

What about upgrading to sklearn version 0.20 for pandas integration?

#### Import the dataset

In [2]:
dataset = pd.read_csv('Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,3]
print(X[0:5], y[0:5])

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN 0     No
1    Yes
2     No
3     No
4    Yes
Name: Purchased, dtype: object

#### Missing values

In [4]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0) #axis=0 means impute along columns

In [5]:
X.ndim

2

In [13]:
X.iloc[0:5,]

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [14]:
X.iloc[:,1:3] = imputer.fit_transform(X.iloc[:,1:3]) # No impute for first column 'Country'. Fit only 2nd and 3rd cols, indexes 1 and 2
X.iloc[0:5,:]

   Country   Age        Salary
0   France  44.0  72000.000000
1    Spain  27.0  48000.000000
2  Germany  30.0  54000.000000
3    Spain  38.0  61000.000000
4  Germany  40.0  63777.777778

In [18]:
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

#### Categorical data

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [17]:
le = LabelEncoder()
X_le = le.fit_transform(X['Country'])
X_le

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0], dtype=int64)

France was given the label 0, Germany 1 and Spain 2

In [15]:
ohe = OneHotEncoder(categorical_features=[0]) ##categorical_features=[0] means first column to be OHE
ohe.fit_transform(X).toarray() # Fit to country, returns country encoded

ValueError: could not convert string to float: 'France'

In [19]:
X.str

AttributeError: 'numpy.ndarray' object has no attribute 'str'

In [28]:
import sklearn

In [30]:
print(sklearn.__version__)

0.19.1